# Pycharm things
.idea

# Venv
/venv

# Pyinstaller builds
/build
/dist

# Assets
/assets/maps/*
/assets/sounds/*
/assets/objects/*
/assets/images/*
/assets/fonts/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]